<div id="profile">

    <img src="{{iconUrl}}" alt="Avatar" id="avatar">

    <p><span>{{location}}</span></p>

    <ul>
        <li><span>{{weather}}</span></li>
        <li><span>{{temp}}&deg; F</span></li>
        <li>
            <a href="/">
            <input type="submit" value="search again" class="button"></a>
        </li>
        <li>
          <p>Powered by</p>
            <a href="https://www.wunderground.com/">
            <img src="{{logoUrl}}" alt="logo" id="logo"></a>
          <p>© Copyright 2017 The Weather Company, LLC</p>
        </li>

    </ul>

</div>
