<div id="search">

  <h3>Simple Weather App</h1>

  <img src="http://i.imgur.com/VKKm0pn.png" alt="Magnifying Glass" id="searchIcon">

  <form action="/" method="POST">
      <label>Enter a Zipcode</label>
      <input type="text"

      onfocus="
      if(this.placeholder == 'Zipcode') {
          this.placeholder = '';
      }"

      onblur="
          this.placeholder = 'Zipcode';
      "

      placeholder="Zipcode" id="username" name="username">
      <input type="submit" value="search" class="button">
  </form>

  <p>by Alessandro Pepe</p>

</div>
